extends layout

block content

  .main
    h3.title Check out Restaurants nearby
    .container.home
      .col-md-6.login
        include mixins/login
      .col-md-6.register
        include mixins/register
