extends layout
block content
	- function starRating(place) {
	- let rating = [];
	- if (place.rating) {
	- for (let i = 0; i < 5; i++) {
	- if (place.rating < (i + 0.5)) {
	- rating.push('✩');
	- } else {
	- rating.push('✭');
	- }
	- }
	- return rating.join(' ');
	- }
	-};
	main.container-fluid
		.map-and-list
			.map-wrapper
				#map

			.info-wrapper
				.listing
					.results
						a.button.btn.btn-primary(href=`/map/`) Reload Map
						h4 Restaurants Nearby
						each restaurant in restaurants
							div.restaurant-info(data-restaurant=restaurant)
								a.iw-url(data-lat= restaurant.geometry.location.lat data-lng= restaurant.geometry.location.lng href=`/map/${restaurant.place_id}`) #{restaurant.name}
								.iw-rating-small #{starRating(restaurant)}
	script(src="/javascripts/map_new.js")
	script(src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBDucSpoWkWGH6n05GpjFLorktAzT1CuEc&callback=initMap', async = '', defer = '')

