nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
	#navbar.navbar-nav.collapse.navbar-toggleable-sm
		.container
			.nav-items.clearfix
				a.button.btn.btn-primary.pull-md-right(href='/login') Login
